<style>
            
.subscribe {
    color:white;
    background-color: red;
    border-radius: 3px;
    border: none;
    height: 35px;
    width: 110px;
    font-size: 16px;
    font: bold;
    margin-right: 0px;
    transition:
}
.subscribe:hover {
    background-color: green;
    opacity: 0.5px;

}
.subscribe:active {
   opacity: 0.5;

}
.join {
    color:rgb(22, 93, 224);
    background-color: white;
    border-radius: 3px;
    height: 35px;
    width: 70px;
    font-size: 16px;
    font: bold;             
    border-color: blue;
    border-width: 1px;
    margin-right: 20px;
    margin-left: 20px;
}
.join:hover {
    background-color: blue;
    color: aliceblue;


}
.join:active {
    opacity: 0.8;

}
.tweet {
    color:white;
    background-color: rgb(42, 103, 235);
    border-radius: 15px;
    border: none;
    height: 35px;
    width: 80px;
    font-size: 16px;
    margin-right: 20px;
    font: bold;
}
.tweet:hover {
 background-color:yellow;
 color: black;
 

}
.tweet:active {
 opacity: 0.8;

}
.subscribe,.join,tweet {
    margin-top: 0px;
    margin-bottom: 30px
    
}
.welcome {
    color:white;
    background-color: red;
    font-style: arial;
    font-size: 20px;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
 .shop {
    cursor: pointer;
    margin: 2px;
 }
 .shop:hover {
    text-decoration: underline;
    color: black;


 }
 .shop:active {
    opacity:0.5px;
    color: white;
 }



</style>